* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(230, 253, 236);
}
.containers {
  background-color: white;
  position: relative;
  width: 70%;
  height: auto;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px 15px;
}

h1 {
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.firstName-container, .lastName-container {
  display: flex;
  flex-direction: column;
}
#firstName {
  margin-bottom: 20px;
}

.container input {
  border: 1px solid black;
  border-radius: 5px;
  min-height: 35px;
  margin-top: 5px;
}

.query-container p {
  padding: 0;
  margin: 0;
}

.query-input-1, .query-input-2 {
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
  /* text-align: center; */
}

#message {
  margin-top: 5px;
  min-height: 200px;
}

.query-input-1 input, .query-input-2 input {
  /* position: absolute;
  align-items: center; */
  margin-left: 10px;
}

.submit {
  background-color: rgb(76, 130, 109);
  color: white;
  font-size: 1.25rem;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  min-height: 45px;
}

.submit:hover {
  background-color: rgb(50, 87, 73);
  transition: 0.5s ease;
}

@media screen and (min-width: 1440px) {
  .containers {
    max-width: 60%;
    padding: 40px 40px;
  }
  .name-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* flex-direction: row; */
  }
  .firstName-container, .lastName-container {
    width: 100%;
  }

  #firstName {
    margin-bottom: 0;
  }
  
  .query-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}